/* media querry for desktop max-width:1024px */
.desktop{
    gap: 0 14rem;
}
.aside{
    padding-top: 7rem;
}
.aside p{
    width: 85%;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.tablet .access{
    width: 70rem;
    padding-top: 2rem;
}
.tablet h2 {
padding-top: 6rem;
}
.icons{
max-width: 90rem;
}
.icons p{
    width: 30rem;
}
.logo{
    max-width: 90rem;
}
.footer-text{
    max-width: 90rem;
}

/* media querry for max-width:920px */
@media screen and (max-width:920px) {
    header{
        background: url(../images/bg-header-desktop.png)no-repeat;
        background-size: cover;
        margin: 0 auto;
        max-width: 92rem;
        width: 100%;
    }
    .desktop{
        gap: 0 4rem;
    }
    .computer img {
        width:90%;
    }
    .aside{
        padding-top: 7rem;
    }
    .aside h4{
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    .aside p{
        width: 85%;
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
    .tablet .access{
        width: 65rem;
    }
    .icons{
        max-width: 80rem;
        gap: 0 0.7rem;
    }
    .icons p{
        width: 25rem;
    }
    .logo{
        margin:auto; 
        max-width: 80rem;
        display: flex;
    }
    .logo img{
        width:12rem ;
    }
    .footer-text{
        max-width: 80rem;
        grid-template-columns: 5fr 1fr;
    }
    .footer-text2{
        gap: 0rem 7rem;
    }
}

/* media querry for tablet potriat*/
@media screen and (max-width:768px) {
    header{
        background: url(../images/bg-header-desktop.png)no-repeat;
        background-size: cover;
        margin: 0 auto;
        max-width: 76rem;
        width: 100%;
    }
    p{
        font-size: 1.7rem;
    }
    .desktop{
        gap: 0 4rem;
    }
    .computer img {
        width:90%;
    }
    .aside{
        padding-top: 7rem;
    }
    .aside h4{
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    .aside p{
        width: 100%;
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
    .tablet .access{
        width: 65rem;
    }
    .icons{
        max-width: 76rem;
        width: 70rem;
        gap: 0rem 0rem;
    }
    .icons p{
        width: 24rem;
    }
    .logo{
        max-width: 76rem;
        width: 68rem;
    }
    .logo img{
        width:10rem;
    }
    .footer-text{
        max-width: 76rem;
        width: 64rem;
    }
    .footer-text2{
        gap: 0rem 5rem;
    }
}